/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
---------------------------------------------------------------------------
$breakpoint arguement choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit; }

/* Basic styles for links
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
*/
@keyframes moveInTop {
  0% {
    transform: translateY(-7rem);
    opacity: 0; }
  50% {
    transform: translateY(1rem);
    opacity: 1; }
  100% {
    transform: translateY(0rem); } }

@keyframes moveInBottom {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(4px); }
  100% {
    transform: translateY(0); } }

/**
 * Basic typography style for copy text
 */
body {
  color: #0a0a3f; }

.heading-primary {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 38vh;
  padding-bottom: 200px;
  animation-name: moveInTop;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out; }

.heading-secondary {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 130px; }
  @media (max-width: 980px) {
    .heading-secondary {
      padding-bottom: 60px; } }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1000px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

.section {
  height: 100vh;
  display: flex;
  align-items: center; }

.header {
  background-color: steelblue;
  height: 100vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%); }
  .header__nav__list {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px; }
  .header__nav__item {
    list-style: none; }
  .header__nav__link {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px; }

.header-scroll {
  display: block;
  border: 2px solid #fff;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  margin: 0 auto; }
  .header-scroll--mouse {
    display: block;
    height: 7px;
    width: 5px;
    margin: 12px auto;
    background-color: #fff;
    border-radius: 50px;
    animation: moveInBottom 1.3s ease infinite; }

.section {
  height: 100vh;
  display: flex;
  align-items: center; }
  @media (max-width: 980px) {
    .section {
      height: auto; } }
  .section__content {
    max-width: 1000px;
    width: 93%;
    margin: auto; }
    @media (max-width: 980px) {
      .section__content {
        padding: 100px 0; } }
  .section__row__txt {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; }
  .section__txt__box {
    width: 350px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px; }
    @media (max-width: 980px) {
      .section__txt__box {
        width: 80%;
        margin-top: 15px; } }
    .section__txt__box-p {
      font-family: "Montserrat";
      text-align: left;
      font-size: 15px;
      line-height: 24px;
      color: #000;
      padding: 35px; }

.section__1 {
  margin-top: -20%;
  padding-top: 22%;
  background-color: saddlebrown;
  height: 122vh; }

.section__2 {
  background-color: lavender; }
  .section__2 .section__row__txt {
    display: flex;
    flex-flow: column wrap; }
    .section__2 .section__row__txt .section__txt__box:nth-child(2) {
      align-self: flex-end; }

.section__3 {
  background-color: darkslategrey; }

.section__4 {
  background-color: rosybrown; }
